<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher list</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div class="wrapper">
        <div class="sidebar">
            <h2>S_T_A_S</h2>
            <ul>
                <li><a href="/admin/dashboard "><i class="fa-solid fa-chart-line"></i> Dashboard</a></li>
                <li><a href="/login/admin_profile"><i class="fa-regular fa-user"></i> Profile</a></li>
                <li class="active"><a href="/login/teacher-list"><i class="fa-solid fa-chalkboard-user"></i> Teachers List</a></li>
                <li><a href="/login/student-list"><i class="fa-solid fa-graduation-cap"></i> Student List</a></li>
                <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
            </ul>
        </div>
        <div class="main_content">
            <div class="header"> 
                <p>Welcome!! To Admin Pannel</p>
                <div class="admin-info">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRH87TKQrWcl19xly2VNs0CjBzy8eaKNM-ZpA&s" alt="" height="30px" width="30px" style="border-radius: 50%;">
                    <p>Admin</p>
                </div>
            </div>
<div class="add-teacher">
    <h1>Add New Teacher</h1>
    <form action="/add/teacher-list" method="post">
        <input type="text" placeholder="Enter Teacher name" name="name">
        <input type="email" placeholder="Enter Teacher email" name="email">
        <input type="text" placeholder="Enter Teacher specialization" name="specialization">
        <input type="password" placeholder="Enter password" name="password">
        <input type="text" name="teacher_photo" placeholder="Enter url of photo">
        <button type="submit">Add</button>
    </form>
</div>
<div class="teacher-list">
    <h1>All teachers List</h1>
    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>specialization</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for (teacher of teachers) { %>
            <tr>
              <td><%= teacher._id %></td>
              <td><%= teacher.name %></td>
              <td><%= teacher.email %></td>
              <td><%= teacher.specialization %></td>
              <td>
                <form action="/teacher/<%= teacher._id %>?_method=delete" method="post">
                    <button class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this Teacher?')" >delete</button>
                </form>
            </td>
            </tr>
          <% } %>
        </tbody>
      </table>
</div>
</div>
</div>

</body>
</html>