<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Request</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .teacher-profile{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 70vh;
        }
        .teacher-about{
           padding: 5rem;
        }
        .teacher-details, .teacher-image, .teacher-about{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 33%;
        }
        .teacher-details p{
            margin: 0.8rem 0;
        }
    </style>
</head>
<body>

    <div class="wrapper">
        <div class="sidebar">
            <h2>S_T_A_S</h2>
            <ul>
                <li><a href="/teacher/profile/<%= teachers._id %>"><i class="fa-solid fa-chart-line"></i> My profile</a></li>
                <li><a href="/teacher/messages/<%= teachers._id %>"><i class="fa-solid fa-chart-line"></i> All Messages</a></li>
                <li><a href="/teacher/appointments/<%= teachers._id %>"><i class="fa-regular fa-user"></i> My Appointments</a></li>
                <li><a href="/teacher/appointment-request/<%= teachers._id %>"><i class="fa-solid fa-chalkboard-user"></i> Appointment Requests</a></li>
                <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
            </ul>
        </div>
        <div class="main_content">
            <div class="header"> 
                <p>Welcome!! To Teacher Pannel</p>
                <div class="admin-info">
                    <img src="https://static.vecteezy.com/system/resources/thumbnails/042/891/253/small_2x/professional-teacher-avatar-illustration-for-education-concept-vector.jpg" alt="" height="30px" width="30px" style="border-radius: 50%;">
                    <p>Teacher</p>
                </div>
            </div>
            <div class="student-appointment">
<table class="table table-striped">
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Purpose</th>
                <th>Date</th>
                <th>Actions</th>
                <th>Schedule</th>
            </tr>
        </thead>
        <tbody>
            <% for (pending of pendings) { %>
              <tr>
                <td><%= pending.studentName %></td>
                <td><%= pending.purpose %></td>
                <td><%= pending.date.toString().slice(0,25) %></td>
                <td style="display: flex;flex-direction: column; gap: 1rem;">
                    <form method="POST" action="/appointment/approve/<%= pending._id %>" class="d-inline">
                        <button class="btn btn-success btn-sm btn-style" onclick="return confirm('Are you sure you want to Approve this Appointment?')" >Approve</button>
                    </form>
                    <form method="POST" action="/appointment/reject/<%= pending._id %>" class="d-inline">
                        <button class="btn btn-danger btn-sm btn-style" onclick="return confirm('Are you sure you want to Reject this Appointment?')">Reject</button>
                    </form>
                </td>
                <th>
                    <form action="/schedule/<%= pending._id %>" method="post" >
                        <input type="date" name="date">
                        <button class=" btn-style">Schedule</button>
                    </form>
                </th>
              </tr>
            <% } %>
          </tbody>
        
    </table>
    </div>
    
</div>
</div>

</body>
</html>