<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>send message</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .teacher-message{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }
        button{
            background-color: purple;
            width: 180px;
            display: block;
            margin: 0px auto;
            border: none;
            border-radius: 5px;
            font-weight: bold;
            font-size: 18px;
            font-family: "Courier New", Courier, monospace;
            color: white;
            margin-top: 30px;
            padding: 20px;
            text-align: center;
            cursor: pointer;
                    }
    </style>
</head>
<body>
    <div class="teacher-message">
        <form action="/student/message/<%= studentInfo._id %>" method="post">
            <input type="text" name="studentName" value="<%= studentInfo.name %>">
            <input type="text" name="student" id="" value="<%= studentInfo._id %>">
            <p>To</p>
            <label for="" ><%= teachers.name %></label>
           <input type="text" name="teacher" value="<%= teachers._id %>">
        <textarea name="message" id="" placeholder="Enter your message" ></textarea>
        <button type="submit">Send</button>
    </form>
    </div>
    
</body>
</html>