<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student profile</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div class="wrapper">
        <div class="sidebar">
            <h2>S_T_A_S</h2>
            <ul>
                <li class="active"><a href="/student/profile/<%= students._id %>"><i class="fa-solid fa-chart-line"></i> My profile</a></li>
                <li><a href="/student/teacher-list/<%= students._id %>"><i class="fa-solid fa-chart-line"></i> All Teachers</a></li>
                <li><a href="/student/appointment/<%= students._id %>"><i class="fa-regular fa-user"></i> My Appointments</a></li>
                <li><a href="/student/book-appointment/<%= students._id %>"><i class="fa-solid fa-chalkboard-user"></i> Book an Appointment</a></li>
                <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
            </ul>
        </div>
        <div class="main_content">
            <div class="header"> 
                <p>Welcome!! To Student Pannel</p>
                <div class="admin-info">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRH87TKQrWcl19xly2VNs0CjBzy8eaKNM-ZpA&s" alt="" height="30px" width="30px" style="border-radius: 50%;">
                    <p>Student</p>
                </div>
            </div>
        <div class="student-dash">

            <div class="student-card">
                <div class="student-card">
                    <div class="school-name">
                        <h1>XYZ PUBLIC SCHOOL</h1>
                    </div>
                    <div class="student-info">
                        <div class="info">
                            <p>Name : <%= students.name %> </p> 
                            <p>Email : <%= students.email %></p>
                            <p>Phone No. : <%= students.p_no %></p>
                            <p>Gender : <%= students.gender %></p>
                            <p>Class : <%= students.class %></p>
                            <p>Portal Password : <%= students.password %></p>
                        </div>
                        <img src="https://cdn3d.iconscout.com/3d/premium/thumb/student-male-3d-icon-download-in-png-blend-fbx-gltf-file-formats--education-study-graduate-man-profession-avatar-pack-people-icons-5914564.png?f=webp" alt="" width="200px" height="200px">
                      
    
                    </div>
                </div>
            </div>
            
        </div>
        </div>
        </div>
        
        </body>
        </html>