<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher list</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div class="wrapper">
        <div class="sidebar">
            <h2>S_T_A_S</h2>
            <ul>
                <li><a href="/student/profile/<%= studentInfo._id %>"><i class="fa-solid fa-chart-line"></i> My
                        profile</a></li>
                <li class="active"><a href="/student/teacher-list/<%= studentInfo._id %>"><i
                            class="fa-solid fa-chart-line"></i> All Teachers</a></li>
                <li><a href="/student/appointment/<%= studentInfo._id %>"><i class="fa-regular fa-user"></i> My
                        Appointments</a></li>
                <li><a href="/student/book-appointment/<%= studentInfo._id %>"><i
                            class="fa-solid fa-chalkboard-user"></i> Book an Appointment</a></li>
                <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
            </ul>
        </div>
        <div class="main_content">
            <div class="header">
                <p>Welcome!! To Student Pannel</p>
                <div class="admin-info">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRH87TKQrWcl19xly2VNs0CjBzy8eaKNM-ZpA&s"
                        alt="" height="30px" width="30px" style="border-radius: 50%;">
                    <p>Student</p>
                </div>
            </div>
            <input style="width: 50vw; margin-left: 10vw;" type="text" id="searchBox" placeholder="Search for a teacher by name..." onkeyup="searchTeacher()">
            <div class="teacher-student">

                <% teachers.forEach(teacher=> { %>
                    <div class="teacher-card" data-name="<%= teacher.name.toLowerCase() %>">
                        <div class="teacher-info">
                            <img src="<%= teacher.teacher_photo || 'https://img.freepik.com/premium-vector/police-vector-illustration-officer-policeman-cop-law-security-uniform-patrol-enforcement_1013341-141655.jpg?semt=ais_hybrid' %>"
                                alt="<%= teacher.name %>">
                            <h1><b>
                                    <%= teacher.name %>
                                </b></h1>
                            <p><b>Email:</b>
                                <%= teacher.email %>
                            </p>
                            <p><b>Specialization: </b>
                                <%= teacher.specialization || 'N/A' %>
                            </p>
                            <a href="/student/message/<%= studentInfo._id %>/?t_id=<%=teacher._id %>"> <button>Send
                                    Message</button></a>
                        </div>
                    </div>
                    <% }) %>
            </div>


        </div>
    </div>
    <script>
        function searchTeacher() {
            var input, filter, teacherCards, card, teacherName;
            input = document.getElementById('searchBox');
            filter = input.value.toLowerCase();
            teacherCards = document.querySelectorAll('.teacher-card');

            teacherCards.forEach(function (card) {
                teacherName = card.getAttribute('data-name');
                if (teacherName.indexOf(filter) > -1) {
                    card.style.display = '';
                } else {
                    card.style.display = 'none';
                }
            });
        }
    </script>
</body>

</html>